<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket=io('http://localhost:3000');
	</script>
</head>
<body>
	<div class="user-online"></div>
	<div id="showqc"></div>
	quảng cáo
</body>
</html>